[MASTER]
# Add third-party packages that pylint can't find during CI
extension-pkg-whitelist=pydantic,sqlalchemy,fastapi,dotenv

[MESSAGES CONTROL]
# Disable specific messages
disable=
    R0903, # too-few-public-methods
    C0103, # invalid-name
    W0401, # wildcard-import
    W0702, # bare-except
    E0401, # import-error
    W0718, # broad-exception-caught
    W0613, # unused-argument
    W0107, # unnecessary-pass
    W0212  # redefined-outer-name

[FORMAT]
max-line-length=120